.container.row-xGrid-yMiddle
    .row-xGrid.iso-standard
        button.ctrl-standard.typ-subhed.fx-bubbleDown Bubble down
        button.ctrl-standard.typ-subhed.fx-bubbleUp Bubble up
        button.ctrl-standard.typ-subhed.fx-sliderIn Slide In
    .row-xGrid.iso-standard
        button.ctrl-standard.is-reversed.typ-subhed.fx-bubbleDown Bubble down
        button.ctrl-standard.is-reversed.typ-subhed.fx-bubbleUp Bubble up
        button.ctrl-standard.is-reversed.typ-subhed.fx-sliderIn Slide In
